@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<script src="~/js/views/Home.Privacy.js" asp-append-version="true"></script>


<link rel="stylesheet" href="~/css/views/Home.Privacy.css" asp-append-version="true" />

<script src="~/js/views/Home.Privacy.js" asp-append-version="true"></script>

